:root {
    --prim-color: aliceblue;
}

*,
p {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.section {
    padding: 0;
}

.section .title {
    text-align: center;
    font-size: 55px;
    height: 8vh;
    color: var(--prim-color);
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.search-city {
    background-color: aquamarine;
}

.city-list {
    padding-top: 2rem;
    border-bottom: .5rem solid;
    color: rgb(73, 72, 72);
    width: 100%;
}

.list-of-cities button {
    top: 2rem
}

.notification {
    padding: .5rem 2.5rem 3rem 1.5rem
}

.search-btn {
    background: no-repeat;
    background-position: center;
    background-position-x: 95%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    background-size: 1.5rem;
}

.search-result-btn {
    margin: .2rem .2rem .2rem .2rem;
    font-size: 20px;
}

.search-result-btn:hover {
    color: rgb(243, 123, 12);
    cursor: pointer;
}

.search-result-btn:active {
    background-color: rgb(36, 184, 225);
    color: var(--prim-color);
}

.current-city {
    font-weight: bold;
}

.current-weather-data {
    font-size: 20px;
}

.current-weather-data .favorable {
    width: 7%;
    margin-left: .5rem;
    padding: 0 .5rem 0 .5rem;
    display: inline-block;
    text-align: center;
    background-color: #19c51e;
    border-radius: 6px;
    border: 1px solid #100f10;
    box-shadow: inset 0 0 2px #ebe4ec;
}

.current-weather-data .moderate {
    width: 7%;
    margin-left: .5rem;
    padding: 0 .5rem 0 .5rem;
    display: inline-block;
    text-align: center;
    background-color: #eeba0f;
    border-radius: 6px;
    border: 1px solid #100f10;
    box-shadow: inset 0 0 2px #ebe4ec;
}

.current-weather-data .severe {
    width: 7%;
    margin-left: .5rem;
    padding: 0 .5rem 0 .5rem;
    display: inline-block;
    text-align: center;
    background-color: #e60505db;
    border-radius: 6px;
    border: 1px solid #100f10;
    box-shadow: inset 0 0 2px #ebe4ec;
}

.five-day-forecast-data {
    text-align: center;
    background-color: #5e6970;
    width: 80%;
    border-radius: 1rem;
    margin: 1.5rem 3rem 0 3rem;
    box-shadow: -4px 7px 14px 5px #ffffff;
}

.five-day-forecast-data .date {
    color: var(--prim-color);
    font-size: 20px;
    font-weight: bold;
}

.five-day-forecast-data .weather-attr {
    color: var(--prim-color);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown,
.dropdown-menu {
    width: 100%;
}

button.search-history-btn {
    color: white;
    margin-top: 2rem;
    background-color: #7b8387;
}

.dropdown-item {
    font-size: 25px;
}

.dropdown-item:hover {
    background-color: #deb018;
}

a.dropdown-item:hover {
    background-color: #eff1fa;
}

a.dropdown-item:active {
    background-color: #9be4b8;
}

.dropdown-item p {
    text-align: center;
}

.content {
    flex: 1 0 auto;
}

.footer {
    height: 50px;
    background: rgb(254, 250, 250);
}