:root {
    --prim-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

.section {
    padding: 0;
}

.section .title {
    padding-top: 1rem;
    text-align: center;
    font-size: 55px;
    height: 10vh;
    color: var(--prim-color);
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.search-city {
    background-color: aquamarine;
}

.weather-container {
    padding-top: 1rem;
}

.city-list {
    padding-top: 2rem;
    border-bottom: .5rem solid;
    color: rgb(73, 72, 72);
    width: 100%;
}

.search-result {
    font-size: 20px;
    margin: .2rem .2rem .2rem .2rem;
}

.search-result:hover {
    color: rgb(243, 123, 12);
    cursor: pointer;
}

.search-result:active {
    background-color: rgb(36, 184, 225);
    color: var(--prim-color);
}

.current-city {
    font-weight: bold;
}

.weath-attr {
    font-size: 20px;
}

.weath-attr .uvi {
    width: 5%;
    margin-left: .5rem;
    padding: 0 .5rem 0 .5rem;
    display: inline-block;
    text-align: center;
    background-color: #26a0da;
    border-radius: 6px;
    border: 1px solid #100f10;
    box-shadow: inset 0 0 2px #ebe4ec;
}

img {
    height: 60px;
    width: 60px;
}

.five-day-forcast {
    background-color: #2a4454;
    width: 80%;
    border-radius: 1rem;
    margin: 1.5rem 4rem 0 1rem;
    box-shadow: -4px 7px 14px 5px #000000;
}

.five-day-forcast .date {
    color: var(--prim-color);
    font-size: 22px;
    font-weight: bold;
}

.five-day-forcast .weather-attr {
    color: var(--prim-color);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: rgb(254, 250, 250);
}